DATABASE_URL=postgres://user:password@DOMAIN/DATABASE
JWT_SECRET=SECRET
INTERNAL_API_KEY=$(base64 -i - <<< internal:password)
ENCRYPTION_KEY=$(openssl rand -base64 32)
OTEL_EXPORTER_OTLP_ENDPOINT=http://example.com
OTEL_SERVICE_NAME=gradegetter_backend
RUST_LOG=info
