DATABASE_URL=postgres://user:password@DOMAIN/DATABASE
HASH_SECRET=SECRET
JWT_SECRET=SECRET
INTERNAL_API_KEY=$(base64 -i - <<< internal:password)
OTEL_EXPORTER_OTLP_ENDPOINT=http://example.com
OTEL_SERVICE_NAME=auth_backend
RUST_LOG=info
